*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    height: 800px;
    background-color: rgb(15, 76, 167);
}

.flex-item {
   width: 100%;
    color: rgb(13, 35, 144);   
}

.flex-item:nth-child(3) {
  align-self: flex-end;
}
.flex-item:nth-child(4) {
  align-self: center;
}
.flex-item:nth-child(2) {
  align-self: stretch;
  background-color: rgb(197, 197, 47);
  width: 40%;
}

/* order: posiciona o elemento em ordem, na ordem que vc mandar*/